

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #340606;
}

.grid-container {
  display: flex;
  height: 100%;
}

.full-width {
  /*flex-grow: ;*/
  flex: 0 0 80%;
  background-color: #4a60da;
  border-radius: 10px;
  margin: 10px;
  display: flex;
}

.side-section {
  flex: 1 0 20%;
  background-color: #ec8c8c;
  border-radius: 10px;
  margin: 10px;
}

.circle {
  position: absolute;
  width: 10px; /* Adjust size as needed */
  height: 10px; /* Adjust size as needed */
}


#fps-display {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #340606;
  transform: scale(5);
}



@media screen and (max-width: 768px) {
  .side-section {
    flex-basis: auto;
  }
}
